/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme. 
The imported CSS rules must precede all other types of rules.
*/
@import '~nativescript-theme-core/css/core.css';
@import './font-awesome.css';

.centered{
    padding:24;
    justify-content:center;
    align-items: center;;
}

.h3{
    font-weight:bold;
    margin:0;
    padding:0;
}


@keyframes fadeIn {
    from { 
        opacity: 0; 
    }
    to { 
        opacity: 1; 
    }
}
@keyframes leftIn {
    from { 
        transform:translate(-100%,0); 
    }
    to { 
        transform:translate(0,0); 
    }
}
@keyframes scaleIn {
    from { 
        transform:scale(.5, .5); 
    }
    to { 
        transform:scale(1, 1); 
    }
}



